assemblyline
assemblyline-v4-service
assemblyline-service-utilities >=4.5.1, <4.6
hachoir
lxml
pcodedmp
oletools
signify @ https://github.com/Squiblydoo/signify/archive/master.tar.gz
# https://github.com/wbond/oscrypto/issues/78
oscrypto @ https://github.com/wbond/oscrypto/archive/master.tar.gz
